<!-- <p>confirm-order works!</p> -->
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mt-5 p-5">
      <div class="d-flex flex-row justify-content-center succs-order">
        <h2>ORDER PLACED SUCCEFULLY</h2>
        <img
          src="https://img.freepik.com/premium-vector/green-check-mark-icon-symbol-logo-circle-tick-symbol-green-color-vector-illustration_685751-503.jpg"
          class="tickMark"
        />
        <p class="track-id">Tracking ID:{{ trackingId }}</p>
        <button class="btn btn-primary btn-lg mt-3" (click)="goToHome()">
          Go To Home
        </button>
      </div>
    </div>
  </div>
</div>
